{% extends "search.html" %}

{% block search_head %}
	<link rel="stylesheet" href="{{ STATIC_URL }}styles/categories.css" /> 
	<script type="text/javascript">
		var subcategories = ["Doctor", "Dentist", "Therapist", "Optometrist", "Personal Trainer"];
	</script>
{% endblock %}
	
{% block subcategories %}
	<div id="subcategories">
		<div class="subcategories_header">Sub-categories...</div>
		<a href="/category/doctor"><div class="subcategories_item">Doctor</div></a>
		<a href="/category/doctor"><div class="subcategories_item">Dentist</div></a>
		<a href="/category/doctor"><div class="subcategories_item">Therapist</div></a>
		<a href="/category/doctor"><div class="subcategories_item">Optometrist</div></a>
		<a href="/category/doctor"><div class="subcategories_item">Personal Trainer</div></a>
	</div>
{% endblock %}