{% extends "search.html" %}

{% block search_head %}
	<link rel="stylesheet" href="{{ STATIC_URL }}styles/categories.css" />
	<script type="text/javascript" src="{{ STATIC_URL }}scripts/categories.js"></script>
	<script type="text/javascript">
		var category = {{category|safe}};
		var subcategoryData = {{subcategoryNames|safe}};
		var subcategories = Category.initializeSet(subcategoryData);
		
		var onBeforeCategoriesLoad = window.onload;
		window.onload = function () {
			onBeforeCategoriesLoad();

			for (var i=0; i<subcategories.length; i++) {
				var subcategory = subcategories[i];
				subcategory.render( document.getElementById("subcategories") );
			}
		}
	</script>
{% endblock %}
	
{% block subcategories %}
	<div id="subcategories">
		<div class="subcategories_header">Sub-categories...</div>
	</div>
{% endblock %}