<html>
	<head>
		<title>Rolodx. Find and rate professional services near you.</title>
		<link href="static/styles/home.css" media="screen" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<div class="background">
			<div class="topleft"></div>
			<div class="topmiddle"></div>
			<div class="topright"></div>
			<div class="ringseparator"></div>
			<div class="bottomleft"></div>
			<div class="bottommiddle"></div>
			<div class="bottomright"></div>
		</div>
		<div class="searchcontainer">
			<img class="logo" src="static/images/logo.png"></img>

			<div class="searchboxandbutton">
				<form action="/onecolumnbase" method="post">
					{% csrf_token %}	
					<input class="searchbox"></input>
					<input type="submit" value="" class="searchbutton" />
				</form>
			</div>
			<div class="description">Find and rate professional services near you.</div>
		</div>
	</body>
</html>
