<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<title>Rolodx. Find and rate professional services near you.</title>
		<link href="{{ STATIC_URL }}styles/home.css" media="screen" rel="stylesheet" type="text/css" />
		<script language="JavaScript" src="http://j.maxmind.com/app/geoip.js"></script>

	</head>
	<body>
		<div class="background">
			<div class="top">
				<div class="topmiddle"></div>
			</div>
			
			<div class="ringseparator"></div>
			
			<div class="bottom">
				<div class="bottommiddle"></div>
			</div>
		</div>
		<div class="searchcontainer">
			<span class="logo"></span>
			<div class="searchboxandbutton">
				<form action="/search" method="GET">
					<input type="text" name="q" class="searchbox" value="josh"></input>
					<input type="text" hidden="true" id="hdnlocation" name="location"></input>
					<input type="text" hidden="true" id="hdnlat" name="lat"></input>
					<input type="text" hidden="true" id="hdnlng" name="lng"></input>
					<input type="submit" value="" class="searchbutton"></input>
				</form>
			</div>
			<!-- TODO: retrieve these on the server side, once we buy a GeoIP database --> 
			<script language="JavaScript">document.getElementById('hdnlocation').value = geoip_city() + ", " + geoip_region();</script>
			<script language="JavaScript">document.getElementById('hdnlat').value = geoip_latitude();</script>
			<script language="JavaScript">document.getElementById('hdnlng').value = geoip_longitude();</script>
			<div class="description">Find and rate professional services near you.</div>
		</div>
		<div class="categories">
			<a href="/category/health"><div class="category c1"></div></a>
			<a href="/category/house"><div class="category c2"></div></a>
			<a href="/category/finance"><div class="category c3"></div></a>
			<a href="/category/technology"><div class="category c4"></div></a>
			<a href="/category/personal_care"><div class="category c5"></div></a>
			<a href="/category/more"><div class="category more_categories"></div></a>
		</div>
	

</body>
</html>
