<html>
	<head>
		<title>Rolodx. Find and rate professional services near you.</title>
		<link href="{{ STATIC_URL }}styles/home.css" media="screen" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<div class="background">
			<div class="topleft"></div>
			<div class="topmiddle"></div>
			<div class="topright"></div>
			<div class="ringseparator"></div>
			<div class="bottomleft"></div>
			<div class="bottommiddle"></div>
			<div class="bottomright"></div>
		</div>
		<div class="searchcontainer">
			<span class="logo"></span>
			<div class="searchboxandbutton">
				<form action="/search" method="POST">
					{% csrf_token %}	
					<input type="text" name="category" class="searchbox" value="pet"></input>
					<input type="submit" value="" class="searchbutton" />
				</form>
			</div>
			<div class="description">Find and rate professional services near you.</div>
		</div>
	</body>
</html>
