{% extends 'onecolumnbase.html' %}

{% block head %} 
	<link rel="stylesheet" href="{{ STATIC_URL }}styles/item.css" /> 
	<script type="text/javascript" src="{{ STATIC_URL }}scripts/item.js"></script>
	<script type="text/javascript">
		window.onload = function () {
			// TODO: get real data from server
			//var results = {{results|safe}};

			var itemData = {"name" : "Robert LeMan Beghian", "job" : "Senior Co-Op Student", "rating" : "0.5", "numRatings" : "53", "address" : "123 Fake Street, Springfield, ON.",
							"description" :  "Bacon ipsum dolor sit amet swine drumstick cow, ham ribeye meatball pork loin kielbasa ground round bacon prosciutto bresaola strip steak chuck chicken. Hamburger spare ribs shankle chuck turducken jowl, ribeye pork drumstick turkey bacon shank short ribs andouille. Pig hamburger ham hock t-bone, tri-tip chuck biltong ham. Pork loin tenderloin pancetta, ribeye jerky short ribs pork belly leberkase biltong kielbasa pork chop frankfurter tri-tip filet mignon. Meatball beef pork belly prosciutto filet mignon tongue. Pork belly biltong sirloin, rump meatball boudin kielbasa shank ham turkey beef pancetta pork chop venison. Salami pastrami leberkase frankfurter cow.",
							"website" : "http://uh.oh", "email" : "spam@me.com", "hours" : "8PM - 3AM"}
			
			var reviewData0 = {"author":"Someone useless", 
							"text" : "I've seen better. Or have I. It's hard to say, really. What was the questions again? Either way. I strongly suggest you make up your own mind about how useful he is.",
							"rating" : 3};

			var reviewData1 = {"author":"One Angry Dude", 
							"text" : "This guy SUCKS! I hate him soooo much.",
							"rating" : 0.5};

			var reviewData2 = {"author":"Lurker", 
							"text" : "",
							"rating" : 4.5};
							
			var reviewData3 = {"author":"Javascript is SWEET!", 
							"text" : "Dude I totally added this comment with javascript. I'm so frigging awesome!",
							"rating" : 5};
			var reviews = [reviewData0, reviewData1, reviewData2, reviewData3];
			
			var item = new Item(itemData);
			item.render();
			
			var parentDocument = document.getElementById('item_reviews');
			for (var i=0; i<reviews.length; i++) {
				var review0 = new Review(reviewData0);
				review0.render(parentDocument);
			}
		}
	</script>
{% endblock %}


{% block content %}
	<div class="item">
		<div class="item_container_top">
			<div class="item_metadata">
				<div class="item_metadata_top">
					<div id="item_metadata_icon"></div>
					<div class="item_metadata_main_top_actions">
						<div id="item_metadata_name"></div>
						<div id="item_metadata_job"></div>
						<div class="item_metadata_rating">
							<div class="item_metadata_rating_text">Rating:</div>
							<div id="item_metadata_rating_stars"></div>
							<div id="item_metadata_num_ratings"></div>
						</div>
						<div id="item_metadata_address"></div>
						<div class="item_metadata_action item_metadata_action1"></div>
						<div class="item_metadata_action item_metadata_action2"></div>
					</div>
				</div>
				<div class="item_metadata_bottom">
					<div id="item_metadata_web"></div>
					<div id="item_metadata_contact"></div>
					<div id="item_metadata_hours"></div>
				</div>
				<div class="item_metadata_main_images"></div>
			</div>
			<div id="item_metadata_description"></div>
		</div>
		<div class="item_map"></div>
	</div>
	
	<div class="item_container_bottom">
		<div class="item_rate">
			<div class="item_rate_stars"></div>
			<textarea class="item_rate_review">This guy is just awesome. I'm continuously blown away by how wicked he is. Wow. Just wow.</textarea>
			<div class="item_rate_rate_button"></div>
			<div class="item_rate_facebook"><input type="checkbox"></input>Also submit to Facebook</div>
		</div>
		
		<div id="item_reviews" class="item_reviews"></div>
	</div>
{% endblock %}
