{% extends 'onecolumnbase.html' %}

{% block head %} 
	<link rel="stylesheet" href="{{ STATIC_URL }}styles/item.css" /> 
	<link rel="stylesheet" href="{{ STATIC_URL }}styles/map.css" /> 
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAlLwEDIyHgeeg30BZpdAdsXumvBxbWXOA&sensor=true"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}scripts/item.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}scripts/googleMapper.js"></script>
	<script type="text/javascript">
		var itemData = {{results.itemData|safe}};
		var reviewData = {{results.reviews|safe}};
		var paging = {{results.paging|safe}};
		
		var itemFields = itemData[0].fields;
		itemFields.id = itemData[0].pk;
		var item = new Item(itemFields);
		var reviewPaginator = new Paginator(paging);
		var googleMapper = new GoogleMapper();
		googleMapper.addMarker(itemFields, 0);
		
		var reviews = [];
		for (var i=0; i<reviewData.length; i++) {
			var review = new Review(reviewData[i].fields);
			review.id = reviewData[i].pk;
			reviews.push(review);
		}
		
		window.onload = function () {
			// Render Professional metadata
			item.render();
			
			googleMapper.render("map_canvas");
			
			// Render reviews
			var parentElementReviews = document.getElementById('item_reviews');
			for (var i=0; i<reviews.length; i++) {
				reviews[i].render(parentElementReviews);
			}
			
			reviewPaginator.render('item_reviews_paging');
			
		}
	</script>
{% endblock %}


{% block content %}
	<div class="item">
		<div class="item_container_top">
			<div class="item_metadata">
				<div class="item_metadata_top">
					<div id="item_metadata_icon"></div>
					<div class="item_metadata_main_top_actions">
						<div id="item_metadata_name" class="item_text"></div>
						<div id="item_metadata_job" class="item_text"></div>
						<div class="item_metadata_rating">
							<div class="item_metadata_rating_text">Rating:</div>
							<div id="item_metadata_rating_stars"></div>
							<div id="item_metadata_num_ratings"></div>
						</div>
						<div id="item_metadata_address"></div>
						<div class="item_metadata_action item_metadata_action1"></div>
						<div class="item_metadata_action item_metadata_action2"></div>
					</div>
				</div>
				<div class="item_metadata_bottom">
					<div id="item_metadata_web"></div>
					<div id="item_metadata_contact"></div>
					<div id="item_metadata_hours"></div>
				</div>
				<div class="item_metadata_main_images"></div>
			</div>
			<div id="item_metadata_description"></div>
		</div>
		<div id="map_canvas" class="map_canvas"></div>
	</div>
	
	<div class="item_container_bottom">
		<div class="item_rate">
			<div class="item_rate_stars"></div>
			<textarea id="review_text" class="item_rate_review">This guy is just awesome. I'm continuously blown away by how wicked he is. Wow. Just wow.</textarea>
			<div class="item_rate_rate_button" onclick="addReview();"></div>
			<div class="item_rate_facebook"><input type="checkbox"></input>Also submit to Facebook</div>
		</div>
		
		<div id="item_reviews" class="item_reviews"></div>
		
		<div id="item_reviews_paging">
			
		</div>
	</div>
{% endblock %}
