<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
<head>
	<title>Rolodx. Find and rate professional services near you.</title>
	<link rel="stylesheet" href="{{ STATIC_URL }}styles/base.css" />
</head>

<body>
	<div id="header" class="header">
		<div class="header_content">
			<a href="/" class="logo"></a>
	
			<div class="searchboxandbutton">
				<div class="searchadvanced"></div>
				<form action="/search" method="GET">
					<input class="searchbox" type="text" name="q"></input>
					<input type="submit" value="" class="searchbutton" />
				</form>
			</div>
			
			<div class="ringseparator"></div>
		</div>
	</div>
		
	<div class="content_top"></div>
		
	<div class="categories"></div>

    <div id="content" class="content">	
		{% block content %}{% endblock %}	
	</div>
</body>
</html>

