<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
<head>
	<title>Rolodx. Find and rate professional services near you.</title>
	<link rel="stylesheet" href="{{ STATIC_URL }}styles/base.css" />
	{% block head %}{% endblock %}
</head>

<body>
	<div id="header" class="header">
		<div class="header_content">
			<a href="/" class="logo"></a>
	
			<div class="searchboxandbutton">
				<div class="searchadvanced"></div>
				<form action="/search" method="GET">
					<input class="searchbox" type="text" name="q"></input>
					<input type="submit" value="" class="searchbutton" />
				</form>
			</div>
			
			<div class="ringseparator"></div>
		</div>
	</div>
	
	<div class="content_container">
		<div class="inner">
			<div class="content_top">
				<span class="map_toggle"></span>
				<span class="results_sort"></span>
				<span id="category_breadcrumb">{% block breadcrumb %}{% endblock %}{% block pagination %} {% endblock %}</span>
				<span id="location_search">Location-Based Search: ON</span>
			</div>
		
			<div class="categories">
				<a href="/category/health"><div class="category c1"></div></a>
				<a href="/category/home"><div class="category c2"></div></a>
				<a href="/category/finance"><div class="category c3"></div></a>
				<a href="/category/technology"><div class="category c4"></div></a>
				<a href="/category/personal_care"><div class="category c5"></div></a>
				<a href="/category/more"><div class="category more_categories"></div></a>
			</div>			
			<div id="content" class="content">	
				{% block content %}{% endblock %}	
			</div>
		</div>
	</div>
	
</body>
</html>
