{% extends 'onecolumnbase.html' %}

{% block head %} 
	<!-- TODO: profile.css -->
	<!-- TODO: profile.js -->
	<link rel="stylesheet" href="{{ STATIC_URL }}styles/profile.css" /> 
	<script type="text/javascript" src="{{ STATIC_URL }}scripts/profile.js"></script>
	<script type="text/javascript">
		<!-- TODO: render professionals -->
	</script>
{% endblock %}


{% block content %}

<div id="profile_page">
	<div id="profile_data">
		<div id="profile_photo"></div>
		<div id="profile_name"></div>
		<div id="profile_fb_email"></div>
	</div>
	
	<div id="profile_contacts">
		<div id="profile_contacts_title">My Contacts</div>
		<hr/>
		<div id="profile_contacts_title"></div>
	</div>

</div>

{% endblock %}
