{% extends 'onecolumnbase.html' %}

{% block head %} 
	<link rel="stylesheet" href="{{ STATIC_URL }}styles/search.css" /> 
	<script type="text/javascript" src="{{ STATIC_URL }}scripts/search.js"></script>
	<script type="text/javascript">
		var results = {{results|safe}};
		var searchResults = [];
		for (var i=0; i<results.length; i++) {
			searchResults.push(new SearchResult(results[i].fields));
		}
		
		window.onload = function () {
			var leftParent = document.getElementById('left');
			var rightParent = document.getElementById('right');
			for (var i=0; i<searchResults.length; i++) {
				searchResults[i].render( i % 2 == 0? leftParent : rightParent );
			}
		}
	</script>
{% endblock %}


{% block content %}
<div class="search_container">
	<div id="left"></div>
	<div id="right"></div>
</div>

{% endblock %}
