{% extends 'onecolumnbase.html' %}

{% block head %} 
	<link rel="stylesheet" href="{{ STATIC_URL }}styles/search.css" /> 
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAlLwEDIyHgeeg30BZpdAdsXumvBxbWXOA&sensor=true"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}scripts/search.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}scripts/googleMapper.js"></script>
	<script type="text/javascript">
		var results = {{results.searchResults|safe}};
		var googleMapper = new GoogleMapper();
		var searchResults = [];
		for (var i=0; i<results.length; i++) {
			var data = results[i].fields;
			data.id = results[i].pk;
			searchResults.push(new SearchResult(data));
			
			googleMapper.addMarker(data, i);
		}
		
		window.onload = function () {		
			googleMapper.render("map_canvas");
	
			var leftParent = document.getElementById('left');
			for (var i=0 ; i<searchResults.length; i++) {
				searchResults[i].render( leftParent );
				
				searchResults[i].addMouseOver( i, googleMapper );
			}
		
		}
	</script>
{% endblock %}

{% block pagination %}
<span class="pagination">
	<span class="step-links">
		
		{% if results.pagedata.has_previous %}
			<a class="pager" href="?q={{ results.searchquery }}&n={{ results.pagedata.paginator.per_page }}&p=1">&lt;&lt;</a>
			<a class="pager" href="?q={{ results.searchquery }}&n={{ results.pagedata.paginator.per_page }}&p={{ results.pagedata.previous_page_number }}">&lt;</a>
		{% endif %}

		<span class="current">
			Page {{ results.pagedata.number }} of {{ results.pagedata.paginator.num_pages }}
		</span>

		{% if results.pagedata.has_next %}
			<a class="pager" href="?q={{ results.searchquery }}&n={{ results.pagedata.paginator.per_page }}&p={{ results.pagedata.next_page_number }}">&gt;</a>
			<a class="pager" href="?q={{ results.searchquery }}&n={{ results.pagedata.paginator.per_page }}&p={{ results.pagedata.paginator.num_pages }}">&gt;&gt;</a>
		{% endif %}
	</span>
</span>
{% endblock %}


{% block content %}
<div class="search_container">
	<div id="left"></div>
	<div id="map_canvas"></div>
</div>

{% endblock %}
