{% extends 'onecolumnbase.html' %}

{% block head %} 
	<link rel="stylesheet" href="{{ STATIC_URL }}styles/pro.css" /> 
	<link rel="stylesheet" href="{{ STATIC_URL }}styles/search.css" /> 
	<link rel="stylesheet" href="{{ STATIC_URL }}styles/map.css" /> 
	<link rel="stylesheet" href="{{ STATIC_URL }}styles/proAdder.css" /> 
	<script src="http://yui.yahooapis.com/2.9.0/build/yahoo/yahoo-min.js"></script>
	<script src="http://yui.yahooapis.com/2.9.0/build/json/json-min.js"></script>
	<script src="http://yui.yahooapis.com/2.9.0/build/event/event-min.js"></script>
	<script src="http://yui.yahooapis.com/2.9.0/build/connection/connection_core-min.js"></script>
	
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAlLwEDIyHgeeg30BZpdAdsXumvBxbWXOA&sensor=true"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}scripts/search.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}scripts/googleMapper.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}scripts/proAdder.js"></script>
	
	<script type="text/javascript">
		var results = {{results.searchResults|safe}};
		var paginatorData = {};
		paginatorData.paging = {{results.paging|safe}};
		paginatorData.query = "{{results.searchquery|safe}}";
		
		var searchPaginator = new SearchPaginator(paginatorData);
		var googleMapper = new GoogleMapper();
		var searchResults = [];
		for (var i=0; i<results.length; i++) {
			var data = results[i].fields;
			data.id = results[i].pk;
			searchResults.push(new SearchResult(data));
			
			googleMapper.addMarker(data, i);
		}
		var onBeforeSearchLoad = window.onload;
		window.onload = function () {
			onBeforeSearchLoad();
						
			googleMapper.render("map_canvas");
			googleMapper.setExpandTrigger("expand_map");
			
			googleMapper.addMoveListener( function(radius, ne, sw) {
				var callback = {
				  success: function(o) {
					var json = YAHOO.lang.JSON.parse(o.responseText);
					var resultData = YAHOO.lang.JSON.parse(json.results.searchResults);
					while (leftParent.hasChildNodes()) {
						leftParent.removeChild(leftParent.lastChild);
					}
					
					googleMapper.markers = [];
					for (var i=0; i<resultData.length; i++) {
						var data = resultData[i].fields;
						data.id = resultData[i].pk;
						console.log(i, data);
						
						new SearchResult(data).render( leftParent );
						new SearchResult(data).addMouseOver( i, googleMapper );
						googleMapper.addMarker(data, i);
						googleMapper.renderMarkers();
					} },
				  failure: function(o) { alert("Failure!"); },
				  argument:null
				};
				var boundary = "dataonly=true&nbound="+ne.lng()+"&wbound="+sw.lat()+"&sbound="+sw.lng()+"&ebound="+ne.lat();
				var transaction = YAHOO.util.Connect.asyncRequest('GET', searchPaginator.currentUrl + boundary, callback, null);
			});
			
			var leftParent = document.getElementById('left');
			var adder = new ProfessionalAdder();
			adder.render(leftParent);
			
			for (var i=0 ; i<searchResults.length; i++) {
				searchResults[i].render( leftParent );
				searchResults[i].addMouseOver( i, googleMapper );
			}
			
			searchPaginator.render('search_pagination');
		}
		
	</script>
	{% block search_head %}{% endblock %}
{% endblock %}

{% block pagination %}
<span id="search_pagination"></span>
{% endblock %}


{% block content %}
<div class="search_container">
	<div id="map_canvas" class="map_canvas"></div>
	
	{% block subcategories %}{% endblock %}
	
	<div id="left">
	</div>
	<div id="expand_map">Expand Map...</div>
</div>

{% endblock %}
