html { background-color: black; }
body { margin: 0px; padding: 0px; }

/** ================		HEADER		=================== **/

.header {
	height:120px;
	background-color: #585135;
	border-bottom: 5px outset #585135;
	margin-top: 40px;
}

.header_content {
	width:66%;
	min-width: 890px;
	height:100px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	padding-bottom: 20px;
	
	background-color: #837c69;
	border-bottom: 5px outset #837c69;
}

.logo {
	background-image:url("/static/images/logo_sm.png");
	background-repeat: no-repeat;
	height: 140px;
    width: 344px;
	float: left;
    margin-top: -40px;
	margin-left: 20px;
}

.searchboxandbutton {
    float: right;
    height: 50px;
    margin-top: 25px;
	margin-right: 20px;
    width: 456px;
}

.searchadvanced {
	background-image: url("/static/images/advanced.png");
	background-repeat: none;
	
	float: left;
	height:50px;
	width:100px;
}

.searchbox {
	float: left;
	height:45px;
	width:300px;
}

.searchbutton {
	float: left;
	height:50px;
	width:50px;
	border:none;
	background-image: url("/static/images/searchbutton_sm.png");
	background-repeat: none;
	vertical-align:middle; /* this aligns the button with the input text box */
}

.ringseparator {
    background-image: url("/static/images/ring_sm.png");
    background-repeat: repeat;
    float: right;
    height: 33px;
    margin-top: 8px;
    width: 101%;
}

/** ================		CONTENT		=================== **/

.content {
	background-color:#FEFFED;
	border:3px solid #B0A996;
	border-radius:10px;

	position:absolute;
	top:240px;
	left:17%;
	height:100%;
	width:63%;
	padding-left:30px;
}
