.top {
	background-color:#585135;
	position:absolute;
	top:0px;
	left:0px;
	height:50%;
	width:100%;
	z-index:-2;
}

.topmiddle {
	background-color: #837C69;
	width: 900px;
	z-index: -2;
	height: 100%;
	margin: 0 auto;
}

.bottom {
	background-color:black;
	position:absolute;
	top:50%;
	left:0px;
	height:50%;
	width:100%;
	z-index:-2;
}

.bottommiddle {
	background-color: #48412E;
	top: 50%;
	width: 900px;
	height: 100%;
	z-index: -2;
	margin: 0 auto;
}

.ringseparator {
	background-image:url("../images/outerbackground.png");
	position:absolute;
	z-index:0;
	top:50%;
	margin-top:-27px;
	left:0px;
	width:100%;
	height: 54px;
	z-index:-1;
}

.searchcontainer {
    background-color: #918A77;
    border: 3px solid #B0A996;
    border-radius: 10px 10px 10px 10px;
    bottom: 0;
    height: 290px;
    left: 0;
    margin: auto;
    padding-left: 75px;
    padding-right: 75px;
    position: absolute;
    right: 0;
    top: 0;
    width: 625px;
}

.searchboxandbutton {
	margin-top:140px;
}

.searchbox {
	height:65px;
	width:500px;
	font-size: 35px;
	border: 2px solid black;
	padding-left:20px;
	padding-right:20px;
}

.searchbutton {
	width:65px;
	height:71px;
	background: url("../images/searchbutton.png") center center no-repeat;
	border:none;
	vertical-align: top;
	margin-left: -5px;
}

.description {
	font-size:17pt;
	font-weight:bold;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:white;
	padding-bottom:40px;
	text-align: left;
}

.logo {
	background: url("../images/logo.png") no-repeat;
	position: absolute;
	width: 550px;
	height: 192px;
	margin-top: -70px;
}

.categories {
    bottom: 0;
    height: 120px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    width: 500px;
}

.category {
    background-repeat: no-repeat;
    float: left;
    height: 40px;
    margin: 0 10px 40px 20px;
    width: 50px;
}

.c1 {
	background-image: url("../images/placeholders/sprites.png");
	background-position: 0 -77px;
}

.c2 {
	background-image: url("../images/placeholders/sprites.png");
	background-position: 0 -118px; 
}

.c3 {
	background-image: url("../images/placeholders/sprites.png");
	background-position: 0 -162px;
}

.c4 {
	background-image: url("../images/placeholders/sprites.png");
	background-position: 0 -205px; 
}

.c5{
	background-image: url("../images/placeholders/sprites.png");
	background-position: 0 -245px;
}

.more_categories{
	background-image: url("../images/more_categories.png");
}

