.outertop {
	background-color:#585135;
	background-image:url("/static/images/outerbackground.png");
	background-position:bottom left;
	background-repeat:repeat-x;
	float:left;
	height:50%;
	width:25%;
}

.bottomleft {
	background-color:black;
	float:left;
	height:50%;
	width:25%;
}

.bottomright {
	background-color:black;
	float:left;
	height:50%;
	width:25%;
}

.middletop {
	background-color:#837C69;
	background-image:url("/static/images/outerbackground.png");
	background-position:bottom left;
	background-repeat:repeat-x;		        
	float:left;
	height:50%;
	width:50%;
}

.middlebottom {
	background-color:#585135;
	float:left;
	height:50%;
	width:50%;	
}

