.outertop {
	color:#585135;
	background-image:url("/static/images/outerbackground.png");
	background-position:bottom-left;
	background-repeat:repeat-x;
	float:left;
	height:50%;
	width:25%;
}

.bottomleft {
	color:black;
	clear:both;
	height:50%;
	width:25%;
}

.bottomright {
	color:black;
	float:left;
	height:50%;
	width:25%;
}

.middletop {
	float:left;
	height:50%;
	width:50%;
}

.middlebottom {
	float:left;	
}

