/*********************************************************************************/
/***********						TOP							**************/
/*********************************************************************************/

.item {
    height: 330px;
    margin: 30px auto 0;
    overflow: hidden;
    width: 800px;
	margin: 30px auto 20px;
}

.item_container_top {
	float: left;    
	max-width: 500px;
}

#item_metadata_icon {
	background-image: url("../images/placeholders/sprites.png");
	background-position: 0 -284px;
    float: left;
    height: 155px;
    margin-bottom: 15px;
    margin-right: 10px;
    width: 155px;
}

#item_metadata_name {
	color: #c90003;
    font-size: 20px;
}

#item_metadata_job {
	color: #c90003;
    font-size: 20px;
}

/** ================		RATING		=================== **/
.item_metadata_rating {
	border-bottom: 2px solid #E5C29C;
    overflow: auto;
    padding-bottom: 5px;
}

.item_metadata_rating_text {
	color: #929084;
    float: left;
}

#item_metadata_num_ratings {
	color: #929084;
    float: right;
}

#item_metadata_address {
	font-weight: bold;
	margin: 5px 0;
	max-width: 300px;
}

.item_metadata_action {
	float: left;
    height: 35px;
    margin-right: 5px;
    width: 150px;
}

.item_metadata_action1 {
	background-image: url("../images/placeholders/sprites.png");
	background-position: 0 0;
}

.item_metadata_action2 {
	background-image: url("../images/placeholders/sprites.png");
	background-position: 0 -39px;
}

.item_metadata_main_top_actions {
	float: left;
}


.item_metadata_bottom {
	clear: left;
}

#item_metadata_web {
	font-weight: bold;
    margin-left: 120px;
}

#item_metadata_contact {
	font-weight: bold;
    margin-left: 100px;
}

#item_metadata_hours {
	font-weight: bold;
    margin-left: 110px;
}

#item_metadata_description {
	margin-top: 20px;
}

#map_canvas {
    height: 320px;
}


/*********************************************************************************/
/***********						BOTTOM							**************/
/*********************************************************************************/
.item_container_bottom {
	background-color: #dcdbc9;
	border-radius: 10px;
	overflow: auto;
	padding: 20px 40px;
}

/** ================		ADD NEW RATING		=================== **/
.item_rate {    
	float: left;
    margin-bottom: 20px;
}

.item_rate_stars {
    background-color: #FFF;
    background-image: url("../images/star.png");
    border-radius: 5px 5px 0 0;
    border-style: solid solid none;
    border-width: 1px 1px 0;
	float: left;
    height: 20px;
    margin-top: 15px;
    width: 100px;
}

.item_rate_review {
    border: 1px solid;
    clear: left;
    float: left;
    font-family: sans-serif;
    font-size: 17px;
    height: 50px;
    margin-bottom: 5px;
    padding: 10px;
    width: 500px;
}

.item_rate_rate_button {
	background-image: url("../images/rate.png");
	float: left;
	clear: left;
	height: 35px;
	width: 100px;
}

.item_rate_facebook {
	float: left;
	margin-top: 8px;
}

/** ================		REVIEWS		=================== **/
.item_reviews {
    clear: left;
    overflow: auto;
}

.item_review {
	margin-bottom: 10px;	
}

.item_review_text {
	clear: left;
}

.item_review_author {
	clear: left;
    margin-left: 20px;
}