.search_container {
    margin: 0 auto;
    width: 740px;
}

#left {    
	float: left;
    margin-bottom: 20px;
    width: 350px;
}

#map_canvas {
	float: right;
	height: 300px;
	width: 300px;
	margin-top: 20px;
}

.pro_container {
    border-bottom: 2px solid #E5C29C;
    margin-top: 20px;
    max-height: 100px;
    min-height: 80px;
    overflow: hidden;
    width: 350px;
}

.pro_icon {
	background-image: url("../images/placeholders/sprites.png");
	background-position: 0 -761px;
	background-repeat: no-repeat;
	float: left;
	width: 90px;
	height: 70px;
	margin-right: 2px;
}

.pro_rating {
    float: left;
    width: 50px;
}

.pro_text {
	color: red;
    float: left;
    width: 250px;
}

.pro_description {
	
}

.no-link {
	text-decoration: none;
	color: black;
}