.search_container {
    margin: 0 auto;
    width: 850px;
}

#left {    
	float: left;
    margin-bottom: 20px;
	min-height: 400px;
    width: 550px;
}

#map_canvas {
	height: 350px;
    margin-top: 30px;
}

#expand_map {
    cursor: pointer;
    float: right;
    font-style: italic;
}

.no-link {
	text-decoration: none;
	color: black;
}